@using PokeStore.Models;
@model IEnumerable<Pokemon>;
@{
    ViewData["Title"] = "Pokemons for Sale";
}

<h2>
    Hey traveler, Buy them All!
</h2>

    <div class="row">
        <div class="col align-self-center">sdsd</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor( model => model.FirstOrDefault().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.FirstOrDefault().Level)
                    </th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var pokemon in Model)
                {
                    <tr>
                        <td>@pokemon.Id</td>
                        <td>@pokemon.Name</td>
                        <td>@pokemon.Level</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@pokemon.Id" class="btn btn-info">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
</div>
